.navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 3px lightgray;
          box-shadow: 3px 3px 3px lightgray;
  z-index: 1;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin: 2px;
}

.navWrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 150px;
  height: 50px;
}

.navWrapper .logo:hover {
  background-color: lightgray;
}

.navWrapper h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  letter-spacing: 5px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 15px;
  color: black !important;
}

.navWrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 85%;
}

.navWrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  letter-spacing: 5px;
  width: 70px;
  margin: 2px;
  height: 20px;
  font-size: 18px;
  list-style: none;
}

.navWrapper li:hover {
  cursor: pointer;
  background: lightgray;
}

.navWrapper h4 a {
  text-decoration: none;
  color: black;
}

.navWrapper ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

.mainImageWrapper {
  width: 80%;
  margin: auto;
}

.mainImageWrapper .mainImage {
  width: 100%;
}

@media screen and (max-width: 600px) {
  ul {
    display: none !important;
  }
  .logo {
    width: 35% !important;
  }
  .mainImageWrapper {
    width: 100% !important;
  }
  .mainImageWrapper .mainImage {
    width: 100% !important;
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 720px) {
  .logo {
    width: 35% !important;
  }
}

footer {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top: 200px;
}

nav {
  -webkit-animation: nav-load 300ms ease-in;
          animation: nav-load 300ms ease-in;
}

nav .logo, nav li {
  -webkit-animation-name: nav-link-load;
          animation-name: nav-link-load;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

nav li:first-child {
  -webkit-animation-name: nav-first-link-load;
          animation-name: nav-first-link-load;
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
}

nav li:last-child {
  -webkit-animation-name: nav-last-link-load;
          animation-name: nav-last-link-load;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
}

@-webkit-keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes nav-link-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nav-link-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes nav-first-link-load {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  90% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-first-link-load {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  90% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes nav-last-link-load {
  0% {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-last-link-load {
  0% {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

html body {
  margin: 0;
  padding: 0;
  display: block;
}

html body p {
  font-family: 'Times New Roman', Times, serif;
}

main {
  width: 60%;
  margin: auto;
}

main .aboutWrapper {
  width: 100%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: 5px solid black;
}

main .aboutImageWrapper {
  width: 50%;
}

main .aboutImage {
  width: 100%;
  height: auto;
}

main .aboutInfo {
  text-align: left;
  width: 40%;
  font-size: 20px;
}

main h1, main h5 {
  text-align: center;
  letter-spacing: 5px;
  font-family: "Playfair Display", serif;
}

main p {
  line-height: 1.5;
  text-align: left;
}

main .subInfo {
  line-height: 1.5;
  text-align: left;
  opacity: .60;
}

.menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuWrapper .menuItemsWrapper {
  line-height: 35px;
  width: 40%;
}

.menuWrapper .menuImgWrapper {
  width: 40%;
}

.menuWrapper .menuSteakImg {
  width: 100%;
}

.menuWrapper h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.menuWrapper h1, .menuWrapper h3 {
  letter-spacing: 5px;
  font-family: "Playfair Display", serif;
}

.menuWrapper p {
  opacity: .60;
}

.contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

.contactWrapper h2 {
  text-align: left;
  letter-spacing: 5px;
}

.contactWrapper .emphasizeAddress {
  font-weight: bold;
  color: gray;
}

.contactWrapper .reservationForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactWrapper .reservationInput {
  color: gray;
  margin-top: 1px;
  /*This is so the focus border doesn't push up against the text for space*/
  border: none;
  border-bottom: 1px solid lightgray;
  margin: auto;
  width: 100%;
  font-size: 25px;
  margin-bottom: 15px;
}

.contactWrapper .reservationInput:focus {
  border: 1px black solid;
}

.contactWrapper .formButton {
  width: 150px;
  height: 40px;
  font-size: 15px;
  border: none;
  background-color: white;
}

.contactWrapper .formButton:hover {
  cursor: pointer;
  background-color: lightgray;
}

@media screen and (max-width: 900px) {
  main {
    width: 90%;
  }
  .menuImgWrapper {
    margin: auto;
    width: 80% !important;
  }
  .menuImgWrapper .menuSteakImg {
    width: 100%;
  }
  .menuItemsWrapper {
    width: 100% !important;
  }
  .aboutImageWrapper {
    display: none;
  }
  .aboutInfo {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .contactWrapper {
    margin-top: 60px !important;
  }
  .menuWrapper {
    margin-top: 60px !important;
  }
  .aboutWrapper {
    margin-top: 60px !important;
  }
}
/*# sourceMappingURL=index.css.map */